a, a:focus, a:active {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid yellow;
    color: black;
}

h4 {
    padding: 15px 30px 15px 30px;
    margin-top: 0;
}

div.navComponent {
    background-color: #c7c7c7;
    opacity: 0.8;
    margin-top: 0;
}